<!DOCTYPE HTML>
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <title>My Login Page</title>
</HEAD>
<body>
    <!-- wrap -->
    <div class="wrap">
        <!-- header -->
        <header class="header">
            <div id="logo"><span>My Header</span></div>
        </header>
        <!-- header -->
        <!-- aside -->
        <aside>
        </aside>
        <!-- //aside-->
        <!-- main -->
        <main class="container">
            <div class="content">
                <section>
                    <article></article>
                </section>
            </div>
        </main>
        <!-- //main -->
        <!-- footer -->
        <footer class="footer">
            <div id="footer">My Footer</div>
        </footer>
        <!-- //footer-->
    </div>
    <!-- wrap -->
    <script src="js/common.js"></script>
</body>
</HTML>